<!-- <p>crear works!</p> -->
<div class="row">
    <div class="col-lg-9">
        <div class="card">
<!--             <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">Other Sample form</h4>
            </div> -->
            <div class="card-body">
                <form action="#">
                    <div class="form-body">
                        <h3 class="card-title">Información del paciente</h3>
                        <hr>
                        <div class="row p-t-16">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Dni</label>
                                        <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <div class="form-group">
                                    <label class="control-label">NHC</label>
                                        <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                                </div> -->
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre</label>
                                    <input type="text" id="nombre" class="form-control" placeholder="Juana María">
                                    <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                    </div>
                            </div> 
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Apellido Paterno</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Perez">
                                    <!-- <small class="form-control-feedback"> This field has error. </small>  -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Apellido Materno</label>
                                    <input type="text" id="lastName" class="form-control form-control-danger" placeholder="Perez">
                                    <!-- <small class="form-control-feedback"> This field has error. </small>  -->
                                </div>
                            </div>
                            <!--/span-->
         
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Fecha de nac.</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Edad</label>
                                    <input type="text" class="form-control" placeholder="31 años 4 meses">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Estado civil</label>
                                    <select class="form-control custom-select">
                                        <option value="">Soltero</option>
                                        <option value="">Casado</option>
                                        <option value="">Viudo</option>
                                        <option value="">Divorciado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Genero</label>
                                    <select class="form-control custom-select">
                                        <option value="">Hombre</option>
                                        <option value="">Mujer</option>
                                        <option value="">Sin especificar</option>
                                    </select>
                                    <!-- <small class="form-control-feedback"> Select your gender </small>  -->
                                </div>
                            </div>
                        </div>


                        <h3 class="box-title ">Dirección</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="form-group">
                                    <label>País</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Provincia</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Departamento</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Distrito</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                           
                        </div>
                        <!--/row-->
                        <h3 class="box-title ">Comunicación</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Celular</label>
                                    <input type="telf" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telf fijoxs</label>
                                    <input type="telf" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input type="mail" class="form-control" placeholder="juana@prueba.com">
                                </div>
                            </div>
                        </div>

                    </div>
                   
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="box-title ">Contacto de emergencia</h3>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label">Nombre</label>
                           <input type="text" id="nombre" class="form-control" >
                        </div>
                   </div>
                   <div class="col-md-4">
                    <div class="form-group">
                       <label class="control-label">Apellido Paterno</label>
                       <input type="text" id="nombre" class="form-control" >
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Apellido Materno</label>
                        <input type="text" id="nombre" class="form-control" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Dni</label>
                        <input type="number" id="nombre" class="form-control" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Telefono</label>
                        <input type="tel" id="nombre" class="form-control" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="mail" id="nombre" class="form-control" >
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h3 class="box-title ">HC Nº 44539552</h3>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="checkbox checkbox-success">
                                <input id="checkbox1" type="checkbox">
                                <label for="checkbox1"> Asignar HC</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                         <div class="form-group">
                            <label class="control-label">NHC</label>
                            <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                         </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="form-group">
                           <label class="control-label">Tipo</label>
                           <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                        </div>
                   </div>
                   <div class="col-md-12">
                    <div class="form-group">
                       <label class="control-label">Archivo</label>
                       <input type="text" id="nombre" class="form-control" placeholder="4444 4444">
                    </div>
               </div>
                </div>
            </div>  
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="box-title ">Info contacto</h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 >Ocupación</h5>
                           <select class="selectpicker" data-style="form-control btn-secondary">
                            <option>Doctor</option>
                            <option>Abogado</option>
                            <option>Profesor</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 >Estudios</h5>
                           <select class="selectpicker" data-style="form-control btn-secondary">
                            <option>Primaria</option>
                            <option>Secundaria</option>
                            <option>Tecnica</option>
                            <option>universitaria</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <h5 >Idioma</h5>
                           <select class="selectpicker" data-style="form-control btn-secondary">
                            <option>Español</option>
                            <option>Quechua</option>
                            <option>Inglés</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h5 >Religión</h5>
                           <select class="selectpicker" data-style="form-control btn-secondary">
                            <option>Católica</option>
                            <option>Cristiana</option>
                            <option>Testigo de Jehova</option>
                        </select>
                        </div>
                    </div>
            </div>  
        </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h3 class="box-title ">Última actualización</h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                           <label class="control-label">Profesional</label>
                           <input type="text" id="nombre" class="form-control" placeholder="Admision 1">
                        </div>
                   </div>
                   <div class="col-md-6">
                    <div class="form-group">
                       <label class="control-label">Fecha</label>
                       <input type="date" id="nombre" class="form-control" placeholder="12/01/20">
                    </div>
                </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Hora</label>
                                <input type="hour" id="nombre" class="form-control" placeholder="03:40">
                             </div>
                        </div>
                </div>
            </div>  
        </div>
       <!--  <div class="card">
            <div class="card-body">
                <h3 class="box-title ">Datos paciente</h3>
                        <hr>
            </div>  
        </div> -->
        <div class="form-actions">
            <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-check"></i> Guardar</button>
        </div>
    </div>
</div>