<div class="row">
    <div class="col-md-12 col-lg12">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Lista de pacientes</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="breadcrumb-item">Listar</li>
                </ol>
            </div>
        
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card bg-info">
                    <div class="card-body">
                        <div class="d-flex">
                            <h3 class="text-white m-b-15">Busqueda de pacientes:</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="row m-b-30">
                                    <div class="col-lg-3 ">
                                            <div class="form-group">
                                                <!-- <label class="control-label">Nombre</label> -->
                                                <input type="text" id="nombre" class="form-control" placeholder="Nombre">
                                                <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                </div>
                                    </div>
                                    <div class="col-lg-3">
                                            <div class="form-group">
                                                <!-- <label class="control-label">Dni</label> -->
                                                <input type="text" id="nombre" class="form-control" placeholder="Dni">
                                                <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                </div>
                                    </div>
                                    <div class="col-lg-3">
                                            <div class="form-group">
                                             <!--    <label class="control-label">Nº Historia</label> -->
                                                <input type="text" id="nombre" class="form-control" placeholder="Nº Historia">
                                                <!-- <small class="form-control-feedback"> This is inline help </small> -->
                                                </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <button class="btn btn-block btn-rounded btn-outline-primary">Limpiar</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <button class="btn btn-block btn-rounded btn-warning">Buscar Paciente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="table-responsive">
                                    <table class="table color-table muted-table">
                                        <div class="row">
                                            <div class="col center">
                                                <p>Imagen</p>
                                            </div>
                                            <div class="col center">
                                                <p>Nombre</p>
                                            </div>
                                            <div class="col center">
                                                <p>Dni</p>
                                            </div>
                                            <div class="col center">
                                                <p>Email</p>   
                                            </div>
                                            <div class="col center">
                                                <p>Historia</p>
                                            </div>
                                            <div class="col center">
                                                <p>Acciones</p>
                                            </div>
                                        </div> 
                                    </table>
                                </div>
        <div class="card border" *ngFor="let usuario of usuarios" (click)="goToDetail(usuario)">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 col-lg-2 containerImg center">
                        <img src="{{usuario.img}}" alt="user-img" class="img-circle"> 
                    </div> 
                    <div class="col-md-2 col-lg-2 center">
                         {{usuario.nombre}} {{usuario.apellidoP}} {{usuario.apellidoP}}
                    </div>
                    <div class="col-md-2 col-lg-2 center">
                        {{usuario.dni}}
                    </div>
                    <div class="col-md-2 col-lg-2 center">
                        {{usuario.email}}
                    </div>
                    <div class="col-md-2 col-lg-2 center">
                        HC{{usuario.dni}}
                    </div>
                    <div class="col-md-2 col-lg-2 center">
                        <div class="row">
                            <div class="col">
                                icono
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>

</div>